.winning-panel {
  width: 80%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #333333;
  color: white;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 0 10px white,
    0 0 20px gold,
    0 0 30px white;
  margin-top: calc(75vh - 50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 1s ease-in-out;
}




.big-amount {
  font-size: 2em;
  font-weight: bold;
}
.app {
  height: 100vh;
  display: flex;
  color: white;
  background: linear-gradient(#FFD700, black);
}

.main {
  width: 100%;
  height: 100vh;
  background: url("./assets/ai.png") center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pyramid {
  width: 25%;
  background-color: light-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  padding: 20px;
  list-style: none;
  width: 100%;
}



.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background: linear-gradient(#FFD700, black);
}

.moneyListItemNumber {
  width: 30%;
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left:-500px;
  font-size: 30px;
  font-weight: 700;
}

.bottom {
  height: 50%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 300%; /* or a specific width in pixels */
  max-width: 1000px;
  background: linear-gradient(#FFD700, black);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 20px;
}

.answers {
  width: 300%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  margin: 0 10px 20px 10px;
  text-align: center;
  background: linear-gradient(#FFD700, black);
  border: 1px solid white;
  border-radius: 15px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: black;
}

.answer.correct {
  animation: correct 3s ease forwards;
}
@keyframes correct {
  0%, 22%, 42% {
    background: linear-gradient(#ffd700, #ffd700);
  }
  20%, 40%, 60% {
    background: linear-gradient(#ffd700, #000000);
  }
  62%, 100% {
    background: linear-gradient(#008000, #008000);
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%, 22%, 42% {
    background: linear-gradient(#ffd700, #ffd700);
  }
  20%, 40%, 60% {
    background: linear-gradient(#ffd700, #000000);

  }
  62%, 100% {
   background: linear-gradient(#FF0000, #FF0000);

  }
}


.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.start {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 100%;
  height: 80px; /* Adjust height as needed */
  border: 2px solid #ffd700; /* Gold border color */
  border-radius: 10px; /* Increased border-radius for more rounded corners */
  cursor: pointer;
  font-size: 24px; /* Font size */
  font-weight: 500;
  color: #ffd700; /* Gold text color */
  background-color: #000000; /* Black background color */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.startButton:hover {
  background-color: #333333; /* Darker black on hover */
}


