<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pronounciation Level Predictor</title>
</head>
<body>
    <div class="wrapper">
        <div class="title">
            <i class="fas fa-language"></i>  Pronunciation Level Predictor
        </div>

        <form action="/" method="POST" class="form" enctype="multipart/form-data">
            <div class="inputfield">
                <button type="button" id="recordButton" class="round-btn"><i class="fas fa-microphone"></i></button>
                <span id="recordingStatus" style="margin-left: 10px;"></span>
            </div>

            <div class="inputfield">
                <input type="submit" class="btn" value="Predict Fluency">
            </div>
        </form>

        <p>
            <div class="result">
                {% if pred %}
                <p><i class="fas fa-check-circle"></i> Predicted Level: {{ pred }}</p>
                {% endif %}
            </div>
            </p>
    </div>
</body>
</html>